<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @article.brief %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

	<div id="banner">
		<div class="logo">
        	<a href="#" ><img src="/assets/logo1.png" alt="logo" /></a>
		</div>
		
	</div>
	<!-- banner结束 -->

	<div id="menu">
		<ul>
			<li><a href="首页.html#Introduction" data-wz="Introduction">公司简介</a></li>
			<li><a href="首页.html#Service" data-wz="Service">服务项目</a></li>
			<li><a href="首页.html#Case" data-wz="Case">客户案例</a></li>
			<li><a href="首页.html#partner" data-wz="partner">合作伙伴</a></li>
			<li><a href="首页.html#News" data-wz="News">行业新闻</a></li>
			<li><a href="首页.html#contact_us" data-wz="contact_us">联系我们</a></li>
		</ul><span class="clear"></span>
	</div>
	<!-- menu结束 -->

	<div id="container2">
    	<div class="center">
    		<div id="weizi">
			<a href="#">首页</a> &gt; <a href="#">行业新闻</a> &gt;  正文
		</div>
		<!-- weizi结束 -->

		<div id="DocContent">
			<h1 class="doctitle">出门旅行行李丢了该怎么办？教你三招保障行李安全</h1>
			<ul class="docValue">
				<li>时间：2014-09-24</li>
				<li>来源：广州日报</li>
			</ul>
			<div class="content">
			<!-- 文章内容开始 -->
                    <p>根据一项统计，全球机场的托运行李每200件就有1件丢失，而行李被损坏、
                    滞后等问题也难免会出行的你，想过你的托运行李有可能会遭遇这种状况吗？谁
                    也不想这么不好彩，可万一出现丢失行李的情况，该如何找回丢失的行李，又有
                    没有什么方法可以未雨绸缪，降低行李丢失的风险呢？</p>
                    <p>根据一项统计，全球机场的托运行李每200件就有1件丢失，而行李被损坏、
                    滞后等问题也难免会出行的你，想过你的托运行李有可能会遭遇这种状况吗？谁
                    也不想这么不好彩，可万一出现丢失行李的情况，该如何找回丢失的行李，又有
                    没有什么方法可以未雨绸缪，降低行李丢失的风险呢？</p>
                    <p>根据一项统计，全球机场的托运行李每200件就有1件丢失，而行李被损坏、
                    滞后等问题也难免会出行的你，想过你的托运行李有可能会遭遇这种状况吗？谁
                    也不想这么不好彩，可万一出现丢失行李的情况，该如何找回丢失的行李，又有
                    没有什么方法可以未雨绸缪，降低行李丢失的风险呢？</p>
                    <p>根据一项统计，全球机场的托运行李每200件就有1件丢失，而行李被损坏、
                    滞后等问题也难免会出行的你，想过你的托运行李有可能会遭遇这种状况吗？谁
                    也不想这么不好彩，可万一出现丢失行李的情况，该如何找回丢失的行李，又有
                    没有什么方法可以未雨绸缪，降低行李丢失的风险呢？</p>
			<!-- 文章内容结束 -->
			</div>
            
            
            <div class="prevnext">
            
            	<p>上一篇：<a href="#">全球机场的托运行李每200件就有1件丢失</a></p>
            	<p>下一篇：<a href="#">全球机场的托运行李每200件就有1件丢失</a></p>
            
            </div>
            

		</div>
		<!-- DocContent结束 -->

		<div id="sidebar">
			<h3 class="huititle">行业最新</h3>
			<ul class="NewsList">
				<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
				<li><span>2014-10-31</span><a href="#">新规前5794套房已网签 3月内办过户不评估计税</a></li>
				<li><span>2014-10-31</span><a href="#">组图：10款气质雪纺衫 演绎职场风景线</a></li>
				<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
				<li><span>2014-10-31</span><a href="#">陈凯歌搜索配乐时髦 鬼才马上又没正经</a></li>

				<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
				<li><span>2014-10-31</span><a href="#">新规前5794套房已网签 3月内办过户不评估计税</a></li>
				<li><span>2014-10-31</span><a href="#">组图：10款气质雪纺衫 演绎职场风景线</a></li>
				<li><span>2014-10-31</span><a href="#">养生须知：夏季吃这四种食物能泻火祛暑</a></li>
				<li><span>2014-10-31</span><a href="#">陈凯歌搜索配乐时髦 鬼才马上又没正经</a></li>
			</ul>
            <span class="more"><a href="列表页.html">更多&gt;&gt;</a></span>
			<span class="clear"></span>

		</div>
		<!-- sidebar结束 -->

		<span class="clear"></span>
		</div>
	</div>
	<!-- container2结束 -->





	<div id="footer">
		<p>Copyright © 2014 srcy. All Rights Reserved. 京ICP备案中
		<br/>思锐创元文化传播（北京）有限公司</p>

	</div>
	<!-- footer结束 -->